@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* Colores principales */
  --mainColor: #0b924e;
  --mainColor-tint: #77b094;
  --mainColor-shade: #0d894b;

  /* Colores secundarios */
  --ff: #fff;
  --black18: #181818;

  --bg: #fff;
  --bg-blur-navBar: rgba(255, 255, 255, 0.4);
  --bg-garage: #fff;
  --bg-finder: #fff;

  --border-garage: #c8c8c8;
  --border-dashboardCard: #c8c8c8;
  --borderFieldID: #c5c5c5;
  --borderFieldName: #c5c5c5;
  --borderFieldNumber: #c5c5c5;
  --borderFieldIDCar: #c5c5c5;
  --borderFieldModel: #c5c5c5;
  --borderFieldPass: #c5c5c5;
  --borderFieldPassConfirm: #c5c5c5;

  --border-input-fecha: #c5c5c5;
  --border-input-dia: #c5c5c5;

  --borderInput-nombre: #c5c5c5;
  --borderInput-correo: #c5c5c5;
  --borderInput-matricula: #c5c5c5;
  --borderInput-pass: #c5c5c5;
  --borderInput-passConfirm: #c5c5c5;

  --shadow-finder: 0px 20px 18px -18px rgba(0, 0, 0, 0.12);
}

* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

body,
section {
  font-family: 'Roboto Slab', sans-serif;
  overflow-x: hidden;
  color: var(--black18);
  background-color: var(--bg);
}

button,
input {
  font-family: 'Roboto Slab', sans-serif;
}

/* Sign.jsx */
.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  width: 20rem;
  border-radius: 20px;
  display: flex;
  padding: 24px 0;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 5px solid var(--mainColor);
}

.login-img {
  height: 5.3rem;
  pointer-events: none;
}

.login-title {
  margin-top: 4px;
  font-size: 2rem;
  letter-spacing: -1px;
  font-weight: 800;
  pointer-events: none;
  color: #0b924e;
}

.login-label {
  width: 80%;
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.login-inputMail,
.login-inputPass {
  min-height: 36px;
  width: 80%;
  margin-top: 4px;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 18px;
  outline: none;
  border: 2px solid #e4e4e4;
}

.login-inputMail:focus,
.login-inputPass:focus {
  border: 2px solid var(--mainColor);
}

.login-buttonLogin,
.login-buttonLoginGoogle {
  min-height: 52px;
  width: 80%;
  margin-top: 1.5rem;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--mainColor);
}

.login-buttonLoginGoogle {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #181818;
  background: white;
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.3);
}

.login-labelBGR {
  margin-top: 16px;
  font-size: 16px;
}

.login-buttonGoRegister {
  font-size: 16px;
  font-weight: 600;
  margin-top: 14px;
  border: none;
  outline: none;
  background: none;
  color: var(--mainColor);
}

.login-buttonGoRegister:hover {
  font-weight: 700;
  cursor: pointer;
}

/* BadCredentials.jsx */
.containerMessage-wrongCredentials,
.containerMessage-dataUpdated {
  height: 3rem;
  width: 18rem;
  gap: 6px;
  font-size: 16px;
  border-radius: 10px;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  position: fixed;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #181818;
  background-color: #fff;
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.4);
}

.wrongCredentials-svg-panlocked {
  height: 20px;
  fill: var(--mainColor);
}

/* SignUp.jsx */
.container-signUp {
  margin-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpForm {
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 5px solid var(--mainColor);
  background-color: #fff;
  box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
}

.signUpForm-title {
  margin-bottom: 6px;
  font-size: 26px;
  letter-spacing: -.8px;
  color: var(--mainColor);

}

.signUpForm-label {
  width: 78%;
  margin-top: 10px;
  letter-spacing: -.4px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 85% 1fr;
  color: #181818;
}

.signUpForm-labelSVG {
  width: 18px;
  justify-self: center;
  color: var(--mainColor);
}

.signUp-nombre,
.signUp-correo,
.signUp-matricula,
.signUp-pass,
.signUp-passConfirm {
  min-height: 36px;
  width: 78%;
  margin-top: 4px;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  background-color: white;
}

.signUp-nombre {
  border-bottom: 2px solid var(--borderInput-nombre);
}

.signUp-correo {
  border-bottom: 2px solid var(--borderInput-correo);
}

.signUp-matricula {
  border-bottom: 2px solid var(--borderInput-matricula);
}

.signUp-pass {
  border-bottom: 2px solid var(--borderInput-pass);
}

.signUp-passConfirm {
  border-bottom: 2px solid var(--borderInput-passConfirm);
}

.wrapper-inputMail {
  width: 78% !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.signUp-correo {
  width: 100%;
  margin-top: 0;
  padding: 0;
  padding-right: 2px;
}

.signUp-nombre-p,
.signUp-matricula-p,
.signUp-correo-p,
.signUp-pass-p,
.signUp-passConfirm-p {
  height: 12px;
  width: 78%;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #f63737;
}

.signUp-pass,
.signUp-passConfirm {
  width: 100%;
}

.wrapper-password {
  width: 82%;
  gap: 4px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 80% 1fr;
  background-color: #fff;
}

.btn-showPass,
.btn-showPassConfirm {
  height: 42px;
  width: 46px;
  margin-top: 4px;
  background-color: #fff;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
}


.btn-showPass-svg,
.btn-hidePass-svg,
.btn-showPassConfirm-svg,
.btn-hidePassConfirm-svg {
  height: 24px;
  color: var(--mainColor);
}

.signUpForm-btnRegister {
  min-height: 48px;
  width: 78%;
  margin-top: 18px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background-color: green;
  box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.2);
}

.signUpForm-btnRegister:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.25);
}

.signUpForm-labelGoSignIn {
  margin-top: 18px;
}

.signUpForm-btnGoSignIn {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  border: none;
  outline: none;
  background: none;
  color: var(--mainColor);
}

.signUpForm-btnGoSignIn:hover {
  cursor: pointer;
}

/* Home.jsx */
.page-home {
  height: 100vh;
}

/* Tools */
.hidden {
  display: none;
}
















/* Lo nuevo */
.section-home {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-tesco {
  width: 70%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-items: center;
}

.header-tesco-texto {
  justify-self: flex-start;
}

.header-tesco-h1 {
  font-size: 36px;
  letter-spacing: -1px;
  font-weight: 800;
}

.header-tesco-p {
  line-height: 1.5;
}

.img-tesco {
  width: 9rem;
  height: 9rem;
}

.main-deportivos {
  width: 21rem;
  padding-bottom: 1rem;
  background-color: #e7e7e7;
  border-radius: 16px;
}

.contenedor-art {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem;
  gap: 2rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.img-articulo {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.articulo-descripcion {
  padding: 1rem;
}

.articulo-titulo {
  text-align: center;
  font-weight: 800;
  letter-spacing: -1px;
}

/* .articulo-descripcion {} */

.articulo-disponibles {
  margin: .6rem;
  font-weight: 600;
}

.articulo-btn {
  height: 48px;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--mainColor);
}

.btn-signOut,
.btn-borrarCuenta,
.btn-consultarInformacion,
.btn-agregarComentario {
  width: 18rem;
  height: 48px;
  margin-top: 18px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  border-bottom: 2px solid var(--mainColor);
  outline: none;
  color: var(--mainColor);
  background-color: #f2f2f7;
}

.btn-borrarCuenta {
  border: none;
  margin-top: 18px;
  color: white;
  background-color: #ff4949;
}

.btn-consultarInformacion,
.btn-agregarComentario {
  border: none;
  margin-top: 3rem;
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor-shade);
}

.btn-agregarComentario {
  margin-top: 1rem;
}

.btn-signOut:hover,
.borrarCuenta:hover {
  cursor: pointer;
}

/* BorrandoCuenta.jsx */
.mensaje-borrandoCuenta {
  height: 50px;
  width: 15rem;
  display: grid;
  justify-items: center;
  border-radius: 10px;
  align-items: center;
  grid-template-columns: 25% 1fr;
  position: fixed;
  top: 20px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 18px 18px rgba(0, 0, 0, 0.08);
}

.mensaje-borrandoCuenta p {
  justify-self: flex-start;
}

.mensaje-borrandoCuenta svg {
  height: 24px;
  color: red;
}



/* FichaDatos.jsx */
.container-fichaDatos {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fichaDatos {
  height: 19rem;
  width: 20rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  border: 2px dashed #0b924e;
}

.fichaDatos h3 {
  margin-top: 1rem;
  color: #0b924e;
  font-weight: 600;
}

.fichaDatos p {
  margin-top: 3px;
  font-size: 17px;
}

/* Producto.jsx */
.contenedor-formulario {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 20rem;
  border-radius: 16px;
  box-shadow: 0 6px 16px 8px rgba(0, 0, 0, 0.1);
}

.formulario-imagen {
  width: 100%;
  height: 12rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.formulario-inputs {
  padding: 1.5rem 1rem;
}

.formulario-input {
  height: 50px;
  width: 100%;
  margin-top: 6px;
  padding: 0 1rem;
  border-radius: 50px;
  outline: none;
  font-size: 17px;
  border: 2px solid var(--border-input-fecha);
}

.input-dia {
  border: 2px solid var(--border-input-dia);
}

.formulario-label {
  display: inline-block;
  margin-top: 1rem;
  padding-left: 2px;
  font-weight: 600;
  font-size: 17px;
}

.formulario-btn {
  height: 48px;
  width: 100%;
  margin-top: 1.4rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 17px;
  color: white;
  background-color: var(--mainColor);
}

/* Ticket.jsx */
.container-ticket {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket {
  width: 20rem;
  padding: 3rem 2rem;
  border-radius: 16px;
  border: 3px dashed #93c193;
  background: linear-gradient(45deg, #9ed388, #e2ffd6);
}

.ticket p {
  font-size: 17px;
  font-weight: 500;
}

.ticket-titulo {
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 2px dashed green;
  font-weight: 900;
}

.ticket-headings {
  font-weight: 800;
  margin-top: 1.4rem;
}

@media (max-width: 664px) {
  .header-tesco {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}

/* Comentario.jsx */
.container-comentario {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comentario-h1 {
  font-size: 2.3rem;
  font-weight: 800;
  text-align: center;
}

.comentario-input {
  width: 20rem;
  margin-top: 1rem;
  padding: 14px 18px;
  border-radius: 12px;
  font-size: 18px;
  outline: none;
  font-weight: 500;
  border: #c5c5c5 3px solid;
}

.comentario-input:focus {
  border: #0b924e 3px solid;
}

.comentario-btn {
  height: 48px;
  width: 20rem;
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: #dbffa6;
}